{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css'%}">#}
{#    <script src="{% static 'js/jquery_3.6.0.js' %}"></script>#}
{#    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js'%}"></script>#}
{#</head>#}
{#<body>#}
{#<a href="{% url 'ooo' 123 333 %}">111</a>#}
{#<a href="{% url 'xxx' year=21 month=22 %}">qqqz</a>#}
{#<a href="{% url 'ooo' 123 333 %}">212</a>#}
{#<a href="{% url 'ooo' 234 %}">222</a>#}
{#<a href="{% url 'ooo' 345 %}">333</a>#}
{#<a href="{% url 'ooo' 456 %}">444</a>#}
{#<a href="{% url 'ooo' 123 %}">555</a>#}
{#<a href="{% url 'ooo' 123 %}">666</a>#}
{##}
{#<a href="{% url 'ooo' %}">111</a>#}
{#<a href="{% url 'ooo'  %}">222</a>#}
{#<a href="{% url 'ooo'  %}">333</a>#}
{#<a href="{% url 'ooo'  %}">444</a>#}
{#<a href="{% url 'ooo'  %}">555</a>#}
{#<a href="{% url 'ooo' %}">666</a>#}
{#</body>#}
{#</html>#}